$primary-color: #6200ee;
$secondary-color: #beedfc;

.header {
  color: $primary-color;
}

.pagination-button {
  background-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

@mixin grid-container {
  display: grid;
  grid-gap: 20px;
}

.news-wrapper {
  @include grid-container;
}

.story-title {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: darken($primary-color, 10%);
  }
}
